<main>
    <header>
     <nav>
      <a>
       <==
      </a>
      <h2><%= @group.name %></h2>

      <div>
       <h3>
          <%= link_to 'sign out', destroy_user_session_path, method: :delete%>
        </h3>
      </div>
     </nav>
    </header> 

    <div>
      <% @budgets.each do |item| %>
         <p><%= item.name %></p>
         <p>$<%= item.amount%></p>
         <p><%= item.created_at.to_date %></p>
      <% end %>
    </div>

    <div>
      <h2>
         <%= link_to 'Add New Transaction', new_user_group_budget_path, class: "link-tag"%>
      </h2>
    </div>
</main>