<main>
   <section class="space-top">
      <% @group.each do |item|%>
      <div class="boostrap">
         <img src=<%= item.icon %> class="img-boostrap">
         <div class="group-text">
           <h4 class="link-tag">
             <%= link_to item.name, user_group_budgets_path(current_user, item.id), class: "link-tag"%>
            </h4> 
            <p class="boostrap-text"><%= item.created_at.to_date %></p>
         </div>
         <div class="boostrap-class">$<%= item.total_amount_by_group(item.id)%></div>
      </div>
      <% end %>
   </section>

   <section class= "boostrap-class">
     <h2>
       <%= link_to 'Add New Category', new_user_group_path, class: "link-tag"%>
     </h2>
   </section>
</main>